---
layout: default
title: Search all Publications on Machine Learning for Source Code
description: A list of research papers for machine learning models for source code.
---
Search across all paper titles, abstracts, authors by using the search field.
Please consider <a href="/contributing.html">contributing</a> by updating
the information of existing papers or adding new work.

<table id="allPapers">
<thead><th>Year</th><th>Title</th><th>Authors</th><th>Venue</th><th>Abstract</th></thead><tbody>
{% assign publicationsByYear = site.publications | sort: "year" | group_by: "year" %}
{% for year in publicationsByYear reversed %}
{% for publication in year.items %}
<tr>
	<td>{{ publication.year }}</td>
	<td><a href="{{ publication.url | prepend: site.baseurl }}">{{publication.title}}</a>
		<span class="externallinks">
			&nbsp;<a href='http://scholar.google.com/scholar?q={{ publication.title }}' target="_blank"><img  style="display: inline; margin: 0;" src="/public/media/google-scholar.png"/></a>
			<a href='https://www.semanticscholar.org/search?q={{ publication.title }}' target="_blank"><img style="display: inline; margin: 0;" src="/public/media/semscholar.png"/></a>
			<a href='http://academic.microsoft.com/#/search?iq={{ publication.title | uri_escape }}' target="_blank"><img style="display: inline; margin: 0;" src="/public/media/ms-academic.png"/></a>
		</span>
	</td>
	<td>{{ publication.authors }}</td>
	<td>{{ publication.conference }}</td>
	<td>{{ publication.content }}</td>
	<td>{% for tag in publication.tags %}{{ tag }} {% endfor %}</td>
</tr>
{% endfor %}
{% endfor %}
</tbody></table>

<script>
var datatable;

function searchTable() {
    var hash = decodeURIComponent(window.location.hash.substr(1));
    datatable.search(hash).draw();
}


$(document).ready( function () {
    datatable = $('#allPapers').DataTable({
		paging: false,
		"order": [[ 0, 'desc' ], [ 1, 'asc' ]],
		columnDefs: [
			{
				targets: [3, 4, 5],
				visible: false,
				searchable: true
			}]
		});
    searchTable();
});

$(window).on('hashchange', function() {
  searchTable();
});
</script>

