---
layout: default
title: List of Publications
description: A list of research papers for machine learning models for source code.
---
Below there is a list of related papers within this area, sorted by year.
{% assign publicationsByYear = site.publications | sort: "year" | group_by: "year" %}
{% for year in publicationsByYear reversed %}
  <h3>{{ year.name }}</h3>
    <ul style="none">
      {% for publication in year.items %}
      <li>
          <a href="{{ publication.url | prepend: site.baseurl }}">{{publication.title}}</a>. {{ publication.authors }}. {{publication.conference}}.
      </li>
    {% endfor %}
    </ul>
{% endfor %}

