---
layout: default
title: Representational Models
---
<h2>Representational Models</h2>

<b>Representational models</b> take an abstract representation of 
code as input.  Example representations include token contexts or data flow.
The resulting model yields a conditional probability distribution over code
element properties, like the types of variables, and can predict them.

{% assign publicationsList = site.data.allamanistaxonomy | sort: "bibkey" %}
<table id="reprModelTable">
<thead><th>Name</th><th>Input Code Representation</th><th>Target</th><th>Intermediate Representation</th><th>Application</th><th>Abstract</th></thead><tbody>
{% for publication in publicationsList %}{% if publication.categories contains "representational" %}
    {% assign pubDetails = site.publications | where:"bibkey", publication.bibkey %}
    
      <tr>
          <td data-order="{{publication.bibkey}}"><a href="/publications/{{publication.bibkey}}">{{pubDetails[0].authors}}, {{pubDetails[0].year}}.</a> {{pubDetails[0].title}}</td>
          <td>{{publication.input_rep}}</td>
          <td>{{publication.modeled_target}}</td>
          <td>{{publication.intermediate_rep}}</td>
          <td>{{publication.application}}</td>
          <td>{{pubDetails[0].content}}</td>
      </tr>
{% endif %}{% endfor %}
</tbody></table>

<script>
$(document).ready( function () {
    $('#reprModelTable').DataTable({
		paging: false,
		columnDefs: [
			{
				targets: [5],
				visible: false,
				searchable: true
			}]
		});
} );
</script>
