---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <h5>{{ page.authors }}. {{ page.conference }} {{ page.year }}</h5>
  <p>
    {% for additional_link in page.additional_links %}
      [<a href="{{ additional_link.url }}" target="_blank">{{ additional_link.name }}</a>]
    {% endfor %}
    &nbsp;<a href='http://scholar.google.com/scholar?q={{ page.title }}' target="_blank"><img  style="display: inline; margin: 0;" src="/public/media/google-scholar.png"/></a>
    &nbsp;<a href='https://www.semanticscholar.org/search?q={{ page.title }}' target="_blank"><img style="display: inline; margin: 0;" src="/public/media/semscholar.png"/></a>
    <br/>
    {% for tag in page.tags %}
      <tag><a href="/tags.html#{{ tag }}">{{ tag }}</a></tag>
    {% endfor %}
  </p>
  <p>{{ content }}</p>

  <h6>Similar Work</h6>
  <p>
    <ul id="relwork">

    </ul>
  </p>

  <script>  
    $(document).ready(
      function() {
        $.getJSON("/publications-metadata/{{ page.path | replace_first: '_publications/', '' | replace: '.markdown', '' }}.json", function(data) {
          num_papers = data.length;
          html = "";
          for (let i=0; i < num_papers; i++) {
              html += '<li><a href="/publications/' + data[i][0] + '">'+ data[i][1] +'</a></li>'
          }
          $("#relwork").append(html);
        });
      });
  </script>

</div>
